---
import { navLinks } from "@/lib/constants";

import Logo from "../Logo.astro";
---

{
  navLinks.map((link, index) => (
    <Fragment>
      {index === Math.ceil(navLinks.length / 2) && (
        <li class="mx-32">
          <a href="/">
            <Logo />
          </a>
        </li>
      )}
      <li>
        <a href={link.href} class="text-center text-lg text-white">
          {link.label}
        </a>
      </li>
    </Fragment>
  ))
}
