---
import Dashboard from "./Dashboard.astro";
import { BookDemoForm } from "./react/BookDemoForm";
---

<section
  class="flex flex-col items-center justify-center gap-y-[50px] bg-gradient-to-b from-blue-700 from-75% to-white to-35%"
>
  <hgroup class="mt-52 space-y-4">
    <h1
      class="mx-auto max-w-6xl text-center text-[6.25rem] font-bold leading-tight text-white"
    >
      The Finance Solutions For Your Business
    </h1>
    <p
      class="mx-auto max-w-3xl text-center text-2xl leading-tight text-white"
    >
      Empower your finance team. The onestop plateform for all financial
      management of small and medium-sized business.
    </p>
  </hgroup>
  <BookDemoForm client:load />
  <Dashboard />
</section>
