---
import { cn } from "@/lib/utils";
import { Button } from "../ui/button";
import {
  Card,
  CardContent,
  CardFooter,
  CardHeader,
  CardTitle,
} from "../ui/card";
import { Separator } from "../ui/separator";

const data = [
  {
    title: "Total Balance",
    value: 350,
  },
  {
    title: "Total Income",
    value: 320,
    percentage: "92%",
  },
  {
    title: "Total Expense",
    value: 220,
    percentage: "92%",
  },
];
---

<div class="flex min-w-[16rem] flex-col">
  {
    data.map((item, index) => (
      <Fragment>
        <Card className="rounded-[20px] border-none">
          <CardHeader className={cn("!px-0", index === 0 && "pt-0")}>
            <CardTitle className="flex justify-between text-lg items-center">
              {item.title} <span class="text-base">{item.percentage}</span>
            </CardTitle>
          </CardHeader>
          <CardContent
            className={cn("!px-0", index === data.length - 1 && "pb-0")}
          >
            <p class="text-5xl font-medium">
              {Intl.NumberFormat("en-EN", {
                style: "currency",
                currency: "USD",
                maximumFractionDigits: 0,
              }).format(item.value)}
            </p>
          </CardContent>
          {index === 0 && (
            <CardFooter className="!px-0">
              <Button className="w-full">Transfer</Button>
            </CardFooter>
          )}
        </Card>
        {index !== data.length - 1 && <Separator />}
      </Fragment>
    ))
  }
</div>
